@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
}

main {
    padding: 2rem;
}

#product {
    margin-bottom: -4px;
}

#product img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}

.card {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
}

.card>h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: hsl(212, 21%, 14%);
    margin: 1rem 0px;
    text-align: start;
}

.card h3 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin: 0.5rem 0rem;
}

.card>p {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
}

.prices {
    display: flex;
}

#newPrice {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    margin: .7rem 0rem;
}

#oldPrice {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    margin-top: 14px;
    margin-left: 10px;
}

.cart {
    text-align: center;
    padding: .7rem 4rem;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: 0em;
    border-radius: 8px;
}

.cart:hover {
    background-color: hsl(158, 35%, 31%);
    ;
    color: white;
}

.myInfo {
    display: flex;
    flex-direction: column;
    padding: .9rem;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

.myInfo a {
    text-decoration: none;
    color: hsl(158, 36%, 37%);
    font-size: 1.3rem;
}

.social p {
    margin: 10px;
}

.socialMedia {
    width: 30px;
}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 1600px;
    }
    #product {
        width: 30%;
    }
    #product img {
        background: url(images/image-product-desktop.jpg) no-repeat;
        height: 50vmin;
        border-radius: 5px 0px 0px 5px;
    }
    .card {
        width: 30%;
        height: 50vmin;
        border-radius: 0px 5px 5px 0px;
    }
    .card h2 {
        margin-left: -7rem;
    }
    .card p {
        margin: 2rem;
    }
    .cart {
        width: 80%;
    }
}